

.IconButton {

    margin-left: 200px;
    
}
#cart-img {
    
    margin-top: 60px;
    margin-left: 50px;
    width: 100px;
    height: auto;

}
ul {
    margin: auto;
    
}

.checkoutButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
