
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


.shopCart {
    position: relative;
    max-width: 100%;
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    
    
  }
  .globalCheckoutButton {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 88px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000;
    color: #ccc;
  }





.globalCheckoutButton:hover {
    font-weight: bold;
    color: rgb(129, 30, 196);
  }

  
  .listItem {
    display: flex;
    
    align-items: center;
    grid-column: 1 / 7;
    padding: 3rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    
  }

  .listItem h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .listItem h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .listItem h4 {
    margin: 0;
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .listItem h5 {
    margin: 0;
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #cart-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  
  
  .cartButtonMin, .cartcounter, .cartButtonPlus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
  }

  .cartButton:hover, .cartButtonMin:hover, .cartButtonPlus:hover {
    background-color: rgb(129, 30, 196);
  }

  .cartcounter {
    margin: 0 0px;
  }

  .cartButtonPlus {
    margin: 0 -35px;
  }
  .cartButtonMin {
    margin: 0 35px;
  }
  
  
  
  .IconButton {
    width: 40px;
    height: 30px;
    
    cursor: pointer;
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    margin: 0 80px;
  }
  
    .IconButton:hover {
        background-color: rgb(129, 30, 196);
    }

  .checkoutButton:hover {
    background-color: #333;
  }

  .shopCart.empty {
    
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    grid-column: 1 / 7;
    padding: 1rem;
    
  }
  
  .shopCart.empty:before {
    content: "The cart is empty :(";
  }


  .checkout-container h1 {
    display: flex;
    align-items: center;
    margin: 0 40px;
    color: #E0E0E0;
    transition: all 0.3s ease;
    text-decoration: none;
    
    
    
}

.checkout-container button:hover {
    font-weight: bold;
    color: rgb(129, 30, 196);
  }

  