@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@400;500&display=swap');

/* HOME */

.home-container {
    position: relative;
    display: flex;
    height: 200vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
    z-index: 2;

}

.highlighted {
    color: rgb(129, 30, 196);
}

/* WELCOME CONTAINER */

.welcome-container {
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-container h2{
    font-size: 32px;
    margin: 0px;
    margin-bottom: 5px;
    margin-right: 20px;      
    font-weight: 500; 
}

.welcome-container h1{
    font-size: 95px;
    margin: 0;
    font-family: 'Limelight', cursive;
    text-shadow: 2px 2px 10px rgba(10, 10, 10, 0.7);
    
}

.welcome-container p {
    font-size: 27px;
    margin: 0;
    margin-right: 20px; 
    font-weight: 400;
    
}

.welcome-container, .trending-container {
    z-index: 3;
    position: relative;
}

/* VIDEO CONTAINER */

.video-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 0.6;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    
}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(1deg, black 5%, transparent 50%, black 99%);
    z-index: 3;
    pointer-events: none;
}


/* TRENDING CONTAINER */

.trending-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    color: white;
}

.trending-container h2 {
    font-size: 30px;
}

.trending-container .home-arrow {
    height: 50px;
    width: 50px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .video-container {
        height: 50vh;
    }

    .welcome-container h1 {
        font-size: 40px;
    }

    .welcome-container h2 {
        font-size: 25px;
    }

    .welcome-container p {
        font-size: 20px;
    }

    .trending-container h2 {
        font-size: 25px;
    }


}
