@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101011;
    font-family: 'Poppins', sans-serif;
  }

  /* NAV LINKS */
  
  .nav-link {
    display: flex;
    align-items: center;
    margin: 0 40px;
    color: #E0E0E0;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .nav-link:hover {
    font-weight: bold;
    color: rgb(129, 30, 196);
  }

  .nav-icon {
    margin-right: 8px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  
  /* RESPONSIVE */


  @media (max-width: 768px) {
    .nav-link {
      margin: 0 20px;
    }
  
  }




  