.trending-section {
    position: relative;
    width: 100%;
    height: auto; 
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 1% 0; 

}

.trending-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
}

.trending-list img {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.trending-item {
    margin: 20px;
}

.trending-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#trending-title {
    color: white;
}

/* SCROLLBAR */

.trending-section::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

.trending-section::-webkit-scrollbar-track {
    background: #1b1b1b; 
}

.trending-section::-webkit-scrollbar-thumb {
    background: rgb(129, 30, 196); 
    border-radius: 5px;
}

.trending-section::-webkit-scrollbar-thumb:hover {
    background: rgba(129, 30, 196, 0.8); 
}
